{% extends "layout.html.twig" %}


{% block content %}
<div>
   <div id="slideshow">
        <div class="fullwidthbanner-container">
            <div class="revolution-slider" style="height: 0; overflow: hidden;">
                <ul>
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="0">
                        <img src="/assets/images/Travel1.jpg" alt="">
                    </li>

                    <li data-transition="fade" data-slotamount="7" data-masterspeed="0">
                        <img src="/assets/images/Travel2.jpg" alt="">
                    </li>

                    <li data-transition="fade" data-slotamount="7" data-masterspeed="0">
                        <img src="/assets/images/Travel3.jpg" alt="">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="slideshow-one">
        <img src="/assets/images/Travel3.jpg" alt="">
    </div>

    <div class="container" style="padding-top: 200px;">
        {% include 'searchContainer.html.twig' %}
    </div>
</div>
{% endblock %}





