{% extends "layout.html.twig" %}


{% block content %}
<div>
   <div id="slideshow" class="non-mobile">
        <div class="fullwidthbanner-container">
            <div class="revolution-slider" style="height: 0; overflow: hidden;">
                <ul>

                    <li data-transition="fade" data-slotamount="7" data-masterspeed="0">
                        <img src="/assets/images/Travel1.jpg" alt="">
                    </li>

                    <li data-transition="fade" data-slotamount="7" data-masterspeed="0">
                        <img src="/assets/images/Travel3.jpg" alt="">
                    </li>

                    <li data-transition="fade" data-slotamount="7" data-masterspeed="0">
                        <img src="/assets/images/Travel2.jpg" alt="">
                    </li>

                    <li data-transition="fade" data-slotamount="7" data-masterspeed="0">
                        <img src="/assets/images/Travel4.jpg" alt="">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        {% include 'searchContainer.html.twig' %}
    </div>
</div>
<footer id="footer" class="non-mobile" style="background-color: #ffffff; position:fixed; bottom: 0; width:100%; padding:20px 0 0 0; border-top: 1px solid #ececec; z-index:100;">
    <div class="container">
        <div class="logo pull-left" style="padding-left: 10px;">
            <a href="http://Skyscanner.net" title="Skyscanner">
                Powered by:&nbsp;&nbsp;&nbsp; <img src="/assets/images/skyscanner.png" width="100px;" alt="SkyScanner">
            </a>
        </div>
        <div class="copyright pull-right" style="padding-right: 10px;">
            <p>© WeekEm</p>
        </div>
    </div>
    </div>
</footer>
{% endblock %}




