{% extends "layout.html.twig" %}


{% block content %}
<div>
   <div id="slideshow">
        <div class="fullwidthbanner-container">
            <div class="revolution-slider" style="height: 0; overflow: hidden;">
                <ul>
                    <li data-transition="slidedown" data-slotamount="7" data-masterspeed="0">
                        <img src="/assets/images/barcelona1.jpg" alt="">
                    </li>

                    <li data-transition="slidedown" data-slotamount="7" data-masterspeed="0">
                        <img src="/assets/images/paris1.jpg" alt="">
                    </li>

                    <li data-transition="slidedown" data-slotamount="7" data-masterspeed="0">
                        <img src="/assets/images/genova1.jpg" alt="">
                    </li>

                    <li data-transition="slidedown" data-slotamount="7" data-masterspeed="0">
                        <img src="/assets/images/varsovia1.jpg" alt="">
                    </li>

                    <li data-transition="slidedown" data-slotamount="7" data-masterspeed="0">
                        <img src="/assets/images/tiblis1.jpg" alt="">
                    </li>


                    <li data-transition="slidedown" data-slotamount="7" data-masterspeed="0">
                        <img src="/assets/images/yerevan1.jpg" alt="">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="slideshow-one">
        <img src="/assets/images/paris1.jpg" alt="">
    </div>

    <div class="container" style="padding-top: 160px;">
        {% include 'searchContainer.html.twig' %}
    </div>
</div>
{% endblock %}





