{% extends "layout.html.twig" %}

{% block content %}
    <div class="row" style="margin-bottom: 20px;" ng-controller="searchCtrl">
        <div class="col-md-8">
                <form class="tile" style="text-align: left;">
                    <div>
                        <label for="inputEmail3" class="col-sm-2 form-control-label" style="padding-top: 5px">From</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="cityFrom" uib-typeahead="airport as airport.city for airport in airports | filter:$viewValue | limitTo:8"  typeahead-min-length="2" class="form-control">
                        </div>
                    </div>
                    <div style="display: inline-block; width: 100%;margin-bottom: 5px;">
                        <div style="margin-top:10px;">
                            <label for="inputEmail3" class="col-sm-2 form-control-label" style="padding-top: 5px">Depart</label>
                            <div class="col-md-4">
                                <p class="input-group">
                                    <input type="text" class="form-control" placeholder="Departure" uib-datepicker-popup="[[format]]" ng-model="departure" is-open="departure.opened" min-date="minDate" max-date="maxDate" show-weeks="false" datepicker-options="dateOptions" show-button-bar="false" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="departureOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div style="margin-top:10px;">
                            <label for="inputEmail3" class="col-sm-2 form-control-label" style="padding-top: 5px">Return</label>
                            <div class="col-sm-4">
                                <p class="input-group">
                                    <input type="text" class="form-control" placeholder="Departure" uib-datepicker-popup="[[format]]" ng-model="return" is-open="return.opened" min-date="minDate" max-date="maxDate" show-weeks="false" datepicker-options="dateOptions" show-button-bar="false" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="returnOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row" style="text-align: right; margin-right: 15px;">
                        <div style="width:100%;">
                            <button type="submit" class="btn btn-success" style="width:30%;">Search </button>
                        </div>
                    </div>
                </form>
        </div>
    </div>
{% endblock %}
