<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>WeekEm</title>


    <script type="text/javascript" src="/assets/js/jquery.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.js"></script>
    <script type="text/javascript" src="/assets/js/angular.js"></script>
    <script type="text/javascript" src="/assets/js/angular-animate.js"></script>
    <script type="text/javascript" src="/assets/js/ui-bootstrap-tpls-1.1.2.js"></script>
    <script type="text/javascript" src="/assets/js/angularControllers/generalController.js"></script>
    <script type="text/javascript" src="/assets/js/angularControllers/searchController.js"></script>
    <script type="text/javascript" src="/assets/js/angularControllers/fliesResultsController.js"></script>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/css/app.css" rel="stylesheet">

    <!-- Theme Styles -->
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/css/animate.min.css">


    <!-- Main Style -->
    <link id="main-style" rel="stylesheet" href="/assets/css/style.css">

    <!-- Current Page Styles -->
    <link rel="stylesheet" type="text/css" href="/assets/components/revolution_slider/css/settings.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/assets/components/revolution_slider/css/style.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/assets/components/jquery.bxslider/jquery.bxslider.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/assets/components/flexslider/flexslider.css" media="screen" />

    <!-- Custom Styles -->
    <link rel="stylesheet" href="/assets/css/custom.css">

    <!-- Updated Styles -->
    <link rel="stylesheet" href="/assets/css/updates.css">

    <!-- Responsive Styles -->
    <link rel="stylesheet" href="/assets/css/responsive.css">

    <!-- CSS for IE -->
    <!--[if lte IE 9]>
    <link rel="stylesheet" type="text/css" href="/assets/css/ie.css" />
    <![endif]-->



    {% include 'google-analytics.html' only %}
</head>
<body ng-app="ui.bootstrap.demo" ng-controller="generalCtrl">

    <div id="page-wrapper">
        <header id="header" class="navbar-static-top">
            <div class="topnav hidden-xs">
                <div class="container">
                    <ul class="quick-menu pull-left">
                        <li class="ribbon">
                            <a href="#">([[country.name]])</a>
                            <ul class="menu mini">
                                <li ng-repeat="mayCountry in countries"><a ng-click="changeCountry(mayCountry)">[[mayCountry.name]]</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="quick-menu pull-right">
                        <li class="currency">
                            <a href="#" title="">Currency ([[country.currency]])</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="main-header">

                <a href="#mobile-menu-01" data-toggle="collapse" class="mobile-menu-toggle">
                    Mobile Menu Toggle
                </a>

                <div class="container">
                    <h1 class="logo navbar-brand">
                        <a href="index.html" title="Travelo - home">
                            <img src="images/logo.png" alt="Travelo HTML5 Template" />
                        </a>
                    </h1>
                </div>
            </div>
        </header>
    </div>
    {% block content %}{% endblock %}
    <footer>
    </footer>

    <!-- Javascript -->
    <script type="text/javascript" src="/assets/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.noconflict.js"></script>
    <script type="text/javascript" src="/assets/js/jquery-ui.1.10.4.min.js"></script>

    <!-- load revolution slider scripts -->
    <script type="text/javascript" src="/assets/components/revolution_slider/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="/assets/components/revolution_slider/js/jquery.themepunch.revolution.min.js"></script>

    <!-- load page Javascript -->
    <script type="text/javascript" src="/assets/js/theme-scripts.js"></script>
    <script type="text/javascript" src="/assets/js/scripts.js"></script>
    <script type="text/javascript">
        tjq(document).ready(function() {
            tjq('.revolution-slider').revolution(
                {
                    dottedOverlay:"none",
                    delay:9000,
                    startwidth:1200,
                    startheight:350,
                    onHoverStop:"off",
                    hideThumbs:10,
                    fullWidth:"on",
                    forceFullWidth:"on",
                    shadow:10,
                    navigationType:"none"
                });
        });

        function convertTimeToHHMM(t) {
            var minutes = t % 60;
            var hour = (t - minutes) / 60;
            var timeStr = (hour + "").lpad("0", 2) + ":" + (minutes + "").lpad("0", 2);
            var date = new Date("2014/01/01 " + timeStr + ":00");
            var hhmm = date.toLocaleTimeString(navigator.language, {hour: '2-digit', minute:'2-digit'});
            return hhmm;
        }

        tjq("#flight-times-departure").slider({
            range: true,
            min: 0,
            max: 1440,
            step: 5,
            values: [ 360, 1200 ],
            slide: function( event, ui ) {
                tjq(".start-time-label-departure").val( convertTimeToHHMM(ui.values[0]) );
                tjq(".end-time-label-departure").val( convertTimeToHHMM(ui.values[1]) );
            }
        });
        tjq(".start-time-label-departure").val(convertTimeToHHMM(tjq("#flight-times-departure").slider( "values", 0 )));
        tjq(".end-time-label-departure").val(convertTimeToHHMM(tjq("#flight-times-departure").slider( "values", 1 )));

        tjq("#flight-times-return").slider({
            range: true,
            min: 0,
            max: 1440,
            step: 5,
            values: [ 360, 1200 ],
            slide: function( event, ui ) {
                tjq(".start-time-label-return").val( convertTimeToHHMM(ui.values[0]) );
                tjq(".end-time-label-return").val( convertTimeToHHMM(ui.values[1]) );
            }
        });
        tjq(".start-time-label-return").val(convertTimeToHHMM(tjq("#flight-times-return").slider( "values", 0 )));
        tjq(".end-time-label-return").val(convertTimeToHHMM(tjq("#flight-times-return").slider( "values", 1 )));

    </script>
</body>
</html>
