<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>WeekEm</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
    <script src="/assets/js/angular.js"></script>
    <script src="/assets/js/angular-animate.js"></script>
    <script src="/assets/js/ui-bootstrap-tpls-1.1.2.js"></script>
    <script src="/assets/js/angularControllers/searchController.js"></script>

    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/app.css">


    {% include 'google-analytics.html' only %}
</head>
<body ng-app="ui.bootstrap.demo">
        {% block content %}{% endblock %}
    <footer>
    </footer>
</body>
</html>
