<div class="search-box-wrapper">
    <div class="center-block search-box">
        <div class="" ng-controller="searchCtrl">
            <form autocomplete="off" class="tile" style="text-align: left;" method="POST" action="/index.php/searchFlies" ng-submit="submitSearchFlies()">
                <input type="hidden" name="lang" value="[[country.lang]]"/>
                <input type="hidden" name="country" value="[[country.name]]"/>
                <input type="hidden" name="currency" value="[[country.currency]]"/>
                <input type="hidden" name="departureName" value="[[cityName]]"/>
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="title">Where</h4>
                        <div class="form-group">
                            <label>Leaving From</label>
                            <input type="text" ng-model="cityFrom" name="city" placeholder="city, distirct or specific airpot" uib-typeahead="address as address.name for address in getLocation($viewValue) | limitTo:5" typeahead-min-length="2" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="input-text full-width">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <h4 class="title">When</h4>
                        <div class="form-group row">
                            <div class="col-xs-6">
                                <label>Departing On</label>
                                <div class="datepicker-wrap">
                                    <input type="text"  name="departure" value="[[departure]]" class="input-text full-width" ng-model="departure" placeholder="yyyy/mm/dd" />
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <label>Arriving On</label>
                                <div class="datepicker-wrap">
                                    <input type="text"  name="return" value="[[return]]" class="input-text full-width" ng-model="return" placeholder="yyyy/mm/dd" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-6 pull-right">
                                <label>&nbsp;</label>
                                <button type="submit" class="full-width icon-check">SERACH NOW</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
