<!-- <div class="center-block search-box"  ng-controller="searchCtrl">
    <form autocomplete="off" class="tile" style="text-align: left;" method="POST" action="/index.php/searchFlies" ng-submit="submitSearchFlies()">
        <input type="hidden" name="lang" value="[[country.lang]]"/>
        <input type="hidden" name="country" value="[[country.name]]"/>
        <input type="hidden" name="currency" value="[[country.currency]]"/>
        <input type="hidden" name="departureName" value="[[cityName]]"/>
        <div class="col-sm-12">
            <div>
                <div class="inner-addon right-addon">
                    <i class="glyphicon glyphicon-plane"></i>
                    <input type="text" ng-model="cityFrom" name="city" placeholder="From" uib-typeahead="address as address.name for address in getLocation($viewValue) | limitTo:8" typeahead-min-length="2" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
                </div>
            </div>
        </div>
        <div style="display: inline-block; width: 100%;">
            <div style="margin-top:10px;">
                <div class="col-sm-6">
                    <p class="input-group">
                        <input type="text" class="form-control" placeholder="Departure" name="departure" value="[[departure]]" uib-datepicker-popup="[[format]]" ng-model="departure" is-open="IsDepartureOpen" min-date="minDate" max-date="maxDate" show-weeks="false" datepicker-options="dateOptions" show-button-bar="false" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="departureOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>
            <div style="margin-top:10px;">
                <div class="col-sm-6">
                    <p class="input-group">
                        <input type="text" class="form-control" placeholder="Return" name="return" value="[[return]]" uib-datepicker-popup="[[format]]" ng-model="return" is-open="IsReturnOpen" min-date="minDate" max-date="maxDate" show-weeks="false" datepicker-options="dateOptions" show-button-bar="false" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="returnOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div style="display: inline-block; width: 100%; margin-top: -15px;">
            <div style="margin-top: 10px;">
                <div class="col-sm-6 inner-addon right-addon-extra">
                </div>
            </div>
            <div style="margin-bottom: 10px; margin-top: 10px;">
                <div class="col-sm-6">
                    <button type="submit" class="btn btn-success" style="width:100%;"><i class="glyphicon glyphicon-search"></i> &nbsp;Search </button>
                </div>
            </div>
        </div>
    </form>
</div> -->

<div class="search-box-wrapper">
    <div class="center-block search-box">
        <div class="" ng-controller="searchCtrl">
            <form autocomplete="off" class="tile" style="text-align: left;" method="POST" action="/index.php/searchFlies" ng-submit="submitSearchFlies()">
                <input type="hidden" name="lang" value="[[country.lang]]"/>
                <input type="hidden" name="country" value="[[country.name]]"/>
                <input type="hidden" name="currency" value="[[country.currency]]"/>
                <input type="hidden" name="departureName" value="[[cityName]]"/>
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="title">Where</h4>
                        <div class="form-group">
                            <label>Leaving From</label>
                            <input type="text" ng-model="cityFrom" name="city" placeholder="city, distirct or specific airpot" uib-typeahead="address as address.name for address in getLocation($viewValue) | limitTo:5" typeahead-min-length="2" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="input-text full-width">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <h4 class="title">When</h4>
                        <div class="form-group row">
                            <div class="col-xs-6">
                                <label>Departing On</label>
                                <div class="datepicker-wrap">
                                    <input type="text"  name="departure" value="[[departure | date:'yyyy-MM-dd']]" class="input-text full-width" ng-model="departure | date:'yyyy-MM-dd'" placeholder="mm/dd/yy" />
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <label>Arriving On</label>
                                <div class="datepicker-wrap">
                                    <input type="text"  name="return" value="[[return | date:'yyyy-MM-dd']]" class="input-text full-width" ng-model="return | date:'yyyy-MM-dd'" placeholder="mm/dd/yy" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-6 pull-right">
                                <label>&nbsp;</label>
                                <button type="submit" class="full-width icon-check">SERACH NOW</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
